//
// Typography styles
// =============================================================================

html,
button,
input,
select,
textarea {
  font-family: $sans-font-family;
}

textarea {
  color: inherit;
}

html {
  @include adjust-font-size-to($base-font-size);
  font-size: $base-font-size; // set a pixel based value as a basic font-size
}

// Styleguide 3.2.2


h1 {
  //font-size: $h1-font-size;
  @include adjust-font-size-to( $h1-font-size, 2 );
  @include trailer($headings-trailer);
}

h2 {
  @include adjust-font-size-to( $h2-font-size, 1.85 );
  @include trailer($headings-trailer);
}

h3 {
  @include adjust-font-size-to( $h3-font-size, 1.85 );
  @include trailer($headings-trailer);
}

h4 {
  @include adjust-font-size-to( $h4-font-size, 1.85 );
  @include trailer($headings-trailer);
}

h5  {
  @include adjust-font-size-to( $h5-font-size, 1.85 );
  @include trailer($headings-trailer);
}

h6 {
  @include adjust-font-size-to( $h6-font-size, 1.85 );
  @include trailer($headings-trailer);
}

h1, h2, h3, h4, h5, h6 {
  //font-family:;
//  font-weight:;
//  color: ;
  margin-top: 0;
  hgroup & {
    margin-bottom: 0;
  }
    // migration issue with content having b/strong inside header
  b,
  strong {
    //font-weight:;
  }
}

h1, h2 {
  //font-family:;
//  font-weight:;
  color: inherit;
}

h3, h4, h5, h6 {
  //font-family:;
//  font-weight:;
//  color: ;
}

h2 {
  @include breakpoint(max-width $breakpoint-s) {
    font-size: 30px;
    line-height: 38px;
  }
}

h3 {
  @include breakpoint(max-width $breakpoint-s) {
    font-size: 22px;
    line-height: 28px;
  }
}

// separate h4 from text
h4 {
  font-weight: bold;
}


hgroup {
  @include trailer(0.75, $h2-font-size);
}

// Predefined type sizes
//
// A series of classes for setting massive type; for use in heroes, mastheads,
// promos, etc.
// A series of classes for setting small type, for use in smallprint etc.
//
// Markup:
// <p class="micro">Paragraph "micro": Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. </p>
// <p class="small">Paragraph "small": But I can't give you this case, it don't belong to me.</p>
// <p>Paragraph without any class: -he's the exact opposite of the hero. And most times they're friends, like you and me!</p>
// <p class="huge">Paragraph "huge": It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be?</p>
// <p class="mega">Paragraph "mega": Now that we know who you are, I know who I am. I'm not a mistake!</p>
// <p class="giga">Paragraph "giga": Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>
//
// Styleguide 3.2.3

.micro {
  @include adjust-font-size-to($micro-font-size);
}
.small {
  @include adjust-font-size-to($small-font-size);
}
.huge {
  @include adjust-font-size-to($huge-font-size);
}
.mega {
  @include adjust-font-size-to($mega-font-size);
}
.giga {
  @include adjust-font-size-to($giga-font-size);
}

p,
pre {
  margin: 0;
  &.normal {
    margin: 1em 0;
  }
}

p + p,
p + pre,
pre + p,
pre + pre,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6, {
  margin: $base-rhythm 0 $base-rhythm/2.55;
}
// leading paragraph
.lead,
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-bottom: 0;
}

blockquote {
}

// Lists
// -----------------------------------------------------------------------------
ul,
ol,
dl,
menu {
  margin: rhythm(0.5) 0;
  padding: 0;
  ///list-style-position: inside;
}

.node, .cke_editable {
  ul, ol, dl {
    list-style-position: outside;
    margin-left: 1em;
    li {
      //margin-left: 1.5em;
    }
  }

  ol {
    li {
      //margin-left: 2.5em;
    }
  }
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  padding-bottom: 2em;
  line-height: $base-line-height;
  .main-content & {
    padding-bottom: 0.5em;
  }
}

dl {
  padding: 0;
}

dd {
  margin: 0 0 0 $base-rhythm;
}

ul.unstyled,
ol.unstyled,
nav ul,
nav ol {
  margin-left: 0;
  list-style: none;
  list-style-image: none;
}

// Misc
// -----------------------------------------------------------------------------

hr {
}

// Addresses
address {
  display: block;
  margin-bottom: $base-rhythm;
  font-style: normal;
  line-height: $base-line-height;
}


// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate.
// Customize the background color to match your design.
::-moz-selection {
  //background: $text-selection-color; 
  text-shadow: none;
}

::selection {
  //background: $text-selection-color;
  text-shadow: none;
}

.caps{
  text-transform: uppercase;
}
