// sidebar
.tag-cloud,
.block-tagclouds {
	.content {
		padding: 0 0 15px;
	}
	a {
	  color: $crimson;

	  &:hover {
	  	text-decoration: underline;
	  }
	}
	.tagclouds-term {
		margin-right: 2px;
    &:after {
      content: ",";
      color: $gray;
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
    a {
      color: $gray;
    }
	}
}