//-----------------------------------------
// footer
//-----------------------------------------
footer {
	width: 100%;
	position: absolute;
	bottom: 0;
  @include font-size(12, 16);
	background: #4C4C4C;
	height: $footerHeightMobile;
	padding: 15px;

	@include at-breakpoint($third) {
		background: url('../images/bg-footer.png') repeat-x;
		height: $footerHeightDesktop;
    padding-right: 10px;
    padding-left: 10px;
  }
  ul {
  	margin-bottom: 10px;
	  @include at-breakpoint($second) {
	  	float: none;
	  }
  }
  li {
		margin-bottom: 0;

	  @include at-breakpoint($third) {
	  	float: none;
	  }

	  &.last {
	  	margin-bottom: 0;
	  }
  }

  a,
  label,
	p {
		color: $white;
		text-shadow: none;

	  @include at-breakpoint($second) {

	  }
	  @include at-breakpoint($third) {
			margin: 0;
	  }
  }
	a {
		font-weight: 100;

	  &:hover {
	  	color: #fff;
	  }
  }

  .block {
  	p {
  		color: $white;
  		text-shadow: none;
  	}
  }

  // footer menu block
  .block-menu-block {
  	float: none;

		@include at-breakpoint($third) {
    	width: auto;

			.menu {
				li {
					margin-left: 0;

					&:first-child {
						margin-left: 0;
					}
				}
			}
	  }
  }

  // social icons block
	.block-site-socialicons {
		float: left;
		margin: 20px 0 0 -5px;
		@include full-width;

	  @include at-breakpoint($third) {
      margin: 0;
      width: auto;
	  }
	  h2 {
	  	display: none;
	  }
		li {
			float: left;
			width: auto;
		}
		img {
			width: 16px;
			height: auto;
			float: left;
		}
		a,
		label {
			float: left;
			margin-right: 0;
			margin-left: 5px;
		}
		label {
			@include at-breakpoint(0 $second - 1) {
				@include full-width;
				padding-bottom: 10px;
			}
		}
		.name {
	    float: right;
	    margin-top: 1px;
	    margin-left: 4px;
		}
	}

	// copyright block
	.block-block {
		float: left;

	  @include at-breakpoint(0 $second - 1) {
    	@include span-columns(6 omega,16);
	  }
	}


	.footer-info {
		@include span-columns(8,12);
		background-color: $crimson;
		color: $white;
		padding: 20px;

		h3 {
			text-transform: uppercase;
			padding-bottom: 10px;
		}

		.region {
			float: left;
			width: 50%;
		}
	}


}

.region-footer-primary {
  @include span-columns(4 omega,12);
}
