//-----------------------------------------
// footer
//-----------------------------------------
footer {
	width: 100%;
  background: transparent;
  height: auto;
	padding: 0;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  clear: both;

	@include at-breakpoint($second) {
		min-height: $footerHeightDesktop;
    padding: 0;
    margin-top: $footerHeightDesktop;
  }
  
  .region-holder {
    height: 100%;
  }
  
  //footer info
	.footer-info {
    width: 100%; 
    background-color: $crimson;
    color: $white;
    height: 100%;
    padding: 27px 10px 0;
    position: relative;
    overflow: hidden;
    
    @include at-breakpoint($second) {
  		@include span-columns(8,12);
      min-height: $footerHeightDesktop;
      padding: 27px 20px 36px 0;
      overflow: visible;
    }
    
    @include at-breakpoint($third) {
  		&:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 30px;
        background: $crimson;
        left: -30px;
        top: 0;
        overflow: visible;
      }
    }
    
		.region {
			 width: 100%;
       margin-bottom: 20px;
       
       @include at-breakpoint($second) {
         display: inline-block;
         float: left;
         margin-left: 6.4%;
         margin-bottom: 0;
         width: 46.8%;
         height: 100%;
         &.region-footer-col-1 {
           margin-left: 0;
         }
       }
		 }
     h3 {
       margin-top: 0;
       margin-bottom: 38px;
       padding-bottom: 0;
       position: relative;
       font-size: 14px;
       font-weight: 300;
       text-transform: uppercase;

       &:before {
         content: '';
         display: block;
         position: absolute;
         left: 0;
         bottom: -16px;
         width: 80px;
         height: 1px;
         background: $white;
       }
     }
     .content {
       p {
         margin: 0;
       }
     }
  }
  
  .region-footer-primary {
    width: 100%;
    padding: 10px 10px 20px;
    @include at-breakpoint($second) {
      @include span-columns(4 omega,12);
      min-height: $footerHeightDesktop;
      position: relative;
    }
    // social icons block
    .block-site-socialicons {
      @include at-breakpoint($second) {
        position: absolute;
        bottom: 36px;
        left: 0;
        padding: 0;
      }
    }
    .social-icons {
      padding: 0;
    }
  }
}