// apply box-sizing everywhere for continuity
* {
  @include box-sizing(border-box);
}

html,
body {
  height: 100%;
  font-family: $sans-font-family;
}

html {
  background: $base-background-color;
}

body {
  @include font-size(14);
}

//-----------------------------------------
// general elements
//-----------------------------------------
#content h1 {
  margin-bottom: 33px;
  padding-bottom: 0;
  position: relative;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  @include full-width;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 40px;
    height: 1px;
    background: $crimson;
  }
}

#content h2 {
  color: $black;
  padding: 0 0 22px;
  @include font-size(15);
  font-weight: 300;
  text-transform: uppercase;
  @include full-width;
}


#page {
  @include at-breakpoint($second) {
    padding-top: 0
  }
}

.region-holder {
  width: 100%;
	margin: 0 auto;
	max-width: none;
  padding-left: 0;
  padding-right: 0;
}

.region-content {
  background: transparent;
	padding: 20px 0;
  @include full-width;

  @include at-breakpoint($first) {
    padding: 20px 0;
  }
}

//-----------------------------------------
// breadcrumbs
//-----------------------------------------
.breadcrumb {
  display: none;
  a,
  .current {
    background: url('../images/bg-breadcrumb.png') repeat-x;
  }
  .home-icon {
    background-color: #46725c;
  }
  .home-text {
    background: url('../images/bg-breadcrumb-first.png') repeat-x transparent;
  }
  .current {
		span {
      background: url('../images/bg-breadcrumb-end.png') no-repeat;
    }
  }
}

//-----------------------------------------
// view filters
//-----------------------------------------
.view-filters {
  background: transparent;
  padding: 0;
  clear: both;
  @include full-width;

  label {
    display: none;
  }
	// Custom selects in filter 
	.sbSelector {
		white-space: nowrap; 
		max-width: 85%; 
		overflow: hidden;
		text-overflow: ellipsis; 
	}
}


#content {
  margin: 0;
}

.region-content {
  padding: 0;
}

.field-add-this {
  display: none;
}



