//-----------------------------------------
// top menu
//-----------------------------------------

#block-lang-dropdown-language {
	float: right;
  margin-top: 67px;
  margin-left: 20px;

  @include at-breakpoint($second) {
  	padding: 0;
  }
  
  .content {
		display: inline-block;
	}
	h2 {
		display: none;
	}
  span.title {
    margin-right: 5px;
  }
	.form-type-select {
    // background: url('../images/bg-language-arrow.png') no-repeat right 8px transparent;
	}
	select {
		width: auto !important;
		padding-right: 5px;
    height: 0;
	}
  .sbHolder {
    margin-top: 0;
  }
  .sbHolder a {
    color: $black;
    font-size: 14px;
    font-weight: 300;
  }
	.sbOptions {
	  background: #000;
	  width: 105px;

	  @include at-breakpoint($second) {
	    background: #484848;
	    width: 120px;
	  }
	}
}

//-----------------------------------------
// search-block in desktop
//-----------------------------------------
.header-secondary #block-search-form {
	//display: none;
	float: right;
  width: auto;

  @include at-breakpoint($second) {
  	display: block;
  	margin-left: 40px;
		//padding: 4px 0;
    padding: 0;
  }

	input[type="text"] {
		background: #484848;
		border: none;
		border-top: 1px solid #121212;
		color: #9FA09F;
		padding: 4px;
	}
	input[type="submit"] {
		background: url('../images/icon-search.png') no-repeat;
		border: none;
		text-indent: -999em;
		margin-left: 3px;
		width: 18px;
		cursor: pointer;
	}
}
.container-inline div {
	display: inline;
}

//-----------------------------------------
// search-block in mobile
//-----------------------------------------
.header-secondary #block-search-form {
  //display: none;
  //background: #ECECEC;
  background: none;
  //border-bottom: 1px solid #B3B3B3;
  border-bottom: 0 none;
  //padding: 15px;
  padding: 0;
  //@include full-width;
  width: auto;
  margin-top: 60px;

  input[type="text"] {
    @extend %textfield-textarea;
    @include full-width;
  }
  input[type="submit"] {
   // display: none;
  }
}

//-----------------------------------------
// main menu
//-----------------------------------------
.header-secondary {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid transparent;
  z-index: 100;
  
  @include at-breakpoint(0 $second - 1) {
		background: url('../images/bg-mobile-menu.png') repeat-x;
  }
  @include at-breakpoint($second) {
		background: url('../images/bg-main-menu.png') repeat-x;
		padding: 0 10px;
  }

  #logo {
    float: left;
    margin-top: 13px;
    padding: 0 15px;

	  @include at-breakpoint($second) {
      margin-top: 47px;
      margin-bottom: 18px;
      padding: 0;
	  }

    img {
    	width: 68px;

		  @include at-breakpoint($second) {
		  	width: 200px;
		  }
    }
  }

  // buttons
	.navigate,
	.search-button {
	  @include at-breakpoint(0 $second - 1) {
			border-left: 1px solid #AFAFAF;
			float: right;
			padding: 11px 15px 10px;
			cursor: pointer;
	    @include font-size(18, 22);
	  }
	  @include at-breakpoint($second) {
			display: none;
	  }

	  span {
	    display: block;
	    float: right;
	    width: 20px;
	    height: 20px;
	  }
	}
	.navigate {
	  span {
			background: url('../images/icon-menu.png') no-repeat;
	    margin: 3px 0 0 10px;
	  }
	}
	.search-button {
	  span {
			background: url('../images/icon-search-mobile.png') no-repeat;
	    margin-top: 2px;
	  }
	}

	.menu {
		//display: none;

	  @include at-breakpoint(0 $second - 1) {
	  	@include full-width;
	  }
	  @include at-breakpoint($second) {
      float: right;
      margin-top: 69px;
      overflow: visible;
	  }
    
  	li {
  	  @include at-breakpoint($second) {
        display: inline-block;
        float: left;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0 20px;
        padding: 0 0 6px;
        position: relative;
        &:first-child {
          margin: 0 20px 0 0;
        }
      
        a {
          background: none;
          color: $black;
          text-decoration: none;
          padding: 0;
        }
        &:hover {
          &:after {
            display: block;
            content: "";
            height: 1px;
            width: 100%;
            background: $black;
            position: absolute;
            bottom: 3px;
          }
        }
  	  }

  	  &.last a {
  		  @include at-breakpoint(0 $second - 1) {
  	  		border-bottom: 1px solid #989898;
  		  }
  	  }
  	}
  	
	}
	.content a {
		color: $black;
		display: block;
    text-transform: uppercase;
    padding: 0;

	  &.active,
	  &.active-trail,
	  &:hover {
      background: transparent;
	  	color: $black;
	  }
	}
}

// main menu second level
.header-secondary {
  .menu {
    > li {
      .menu {
        display: none !important;
        position: absolute;
        right: 0;
        top: 20px;
        width: 160px;
        margin-top: 0;
        //box-shadow: 3px 3px 0 0 $gray-light;
        padding: 15px 0;
        background: transparent;
        z-index: 1;
        
        li {
          margin: 0;
          background: $white;
          width: 100%;
          //margin-left: -15px;
          //margin-right: -15px;
          padding: 4px 15px 6px;
          
          &:first-child {
            padding: 11px 15px 6px;
          }
          
          &:hover {
            &:after {
              display: none;
            }
          }
          
          a {
            position: relative;
            padding: 0 0 3px;
            &:hover {
              &:after {
                display: block;
                content: "";
                height: 1px;
                width: 100%;
                background: $black;
                position: absolute;
                bottom: 0;
                z-index: 999;
              }
            }
          }
        }
        
        &:before {
          display: block;
          content: "";
          position: absolute;
          top: 9px;
          right: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 5.5px 6px 5.5px;
          border-color: transparent transparent #ffffff ;
        }
      }
      &:hover {
        .menu {
          display: block !important;
        }
      }
    }
  }
}

// remove sticky menu in mobile view
.node-type-full-page,
.not-front {
  #header-secondary-float {
    display: none !important;

    @include at-breakpoint($second) {
  	  display: block !important;
 	  }
  }
}

.header-secondary.sticky {
  background: rgba($white, 0.99);
  border-bottom: 1px solid $gray-light;
}


// search button on desktop
.region-header-secondary {
  position:relative;
}
.search-button-desktop {
  float: right;
  width: 16px;
  height: 16px;
  position: relative;
  background: url('../images/search-icon.png') no-repeat;
  background-position: center 0;
  margin-top: 69px;
  margin-left: 20px;
}

#block-search-form {
  display: none;
}

.search-button-desktop:hover {
  
  #block-search-form {
    //display: block;
  }
}
.search-button-desktop {
&:hover {
  &:after {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background: $black;
    position: absolute;
    bottom: -4px;
    z-index: 999;
  }
}
}

#block-search-form {
  top: 100px;
  position: absolute;
  right: 0;
  padding: 15px;
  margin-top: 4px !important;
  .form-text {
    background: $gray-lighter;
    width: 166px;
    line-height: 18px;
    min-height: 18px;
    float: left;
    font-size: 10px;
  }
  &:before {
    display: block;
    content: "";
    position: absolute;
    top: -6px;
    right: 0;
    
    border-style: solid;
    border-width: 0 5.5px 6px 5.5px;
    border-color: transparent transparent #ffffff ;
  }
  
  #search-block-form {
    background: $white;
    padding: 15px;
    overflow: hidden;
  }
  .form-actions {
    float: right;
    position: relative;
    
    &:before {
      content: '\e808';
      display: block;
      position: absolute;
      top: -3px;
      left: 4px;
      font-family: 'solvaxis-icn';
      font-size: 18px;
      font-weight: normal;
      color: $white;
    }
  }
}

#block-search-form.mobile {
  @include at-breakpoint($second) {
    display: none;
  }
}

.header-secondary #block-search-form input[type="submit"] {
  display: block;
  background: $crimson;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 0 0 -1px;
}