.not-front {
  #block-system-main .region-holder,
  #block-system-main > .content {
    padding: 0 35px;
    @include at-breakpoint($bp-xl) {
      padding: 0;
    }
  }
  #block-system-main > .content .region-holder {
    padding: 0;
  }
}

.group-right {
  .field-sidebar-text {
    p {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}


.not-front {
  .node {
      h2, h3 {
        font-size: 15px;
        font-weight: normal;
        text-transform: uppercase;
        line-height: normal;
        padding: 0;
        margin-bottom: 13px;
        clear: both;
      }
      .group-left {
        h2, h3 {
          border-bottom: 1px solid transparent;
          margin-bottom: 7px;
          padding: 0 0 6px 20px;
          position: relative;
          cursor: pointer;
          &:before {
            display: block;
            content: "";
            position: absolute;
            left:0;
            top: 4px;
            width: 11px;
            height: 11px;
            background: url('../images/sprite.png') no-repeat;
            background-size: 120px 51px;
            background-position: -11px -40px;
          }
          @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
            &:before { 
              /* Reference the @2x Sprite */
        			background-image: url('../images/sprite@2x.png');
              /* Translate the @2x sprite's dimensions back to 1x */
              background-size: 120px 51px;
            }
          }
          
          &.collapsed {
            border-bottom: 1px solid $gray-light;
            &:before {
              background-position: 0 -40px;
            }
          }
          
          &:hover {
            color: $crimson;
          }
        }
      }
      ul {
        margin-top: 0;
        padding: 0;
        clear: both;
        li {
          list-style-type: none;
          position:relative;
          padding-left: 9px;
          &:before {
            display: block;
            content: "";
            height: 4px;
            width: 4px;
            background: $black;
            position: absolute;
            top: 8px;
            left: 0;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
          }
        }
      }
      .content-wrap {
        //background: pink;
        float: left;
        clear: both;
        width: 100%;
        p {
          &:first-child {
            margin-top: 0;
          }
        }
        .content-wrap {
          //background: green;
        }
      }
    }
  
}

// Blogs
.block-tagclouds h2 {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.field-tags {
  margin-bottom: 20px;
  .field-label {
    float: left;
  }
}

.this {
  display: inline-block;
  clear: both;
  margin-top: 25px;
  @include at-breakpoint($bp-med-2) {
    margin-top: 70px;
  }
}