//-----------------------------------------
// layouts
//-----------------------------------------
#leader .flexslider {
  @include container;
	margin: 0 auto;
	max-width: 1000px;
  padding-left: 0;
  padding-right: 0;
}

#content {
  margin-left: 0;
  margin-right: 0;
}

.not-front #content {
  margin-top: 140px;
}

// internal page 2 column layout
.ds-2col {
  .group-left {
    @include full-width;
    @include at-breakpoint($second) {
      @include span-columns(8,12);
    }
  }
  .group-right {
     @include full-width;
     @include at-breakpoint($second) {
       @include span-columns(4 omega,12);
     }
   }
}