//-----------------------------------------
// layouts
//-----------------------------------------
.not-front {
  #leader {
    display: none;
  }
}

#leader .flexslider {
  @include container;
	margin: 0 auto;
	max-width: 1000px;
  padding-left: 0;
  padding-right: 0;
}

#content {
  margin-left: 0;
  margin-right: 0;
}

.not-front #content {
  margin-top: 140px;
}

// internal page 2 column layout
.ds-2col {
  .group-left {
    @include full-width;
    //background: green;
    padding: 0 35px;
    @include at-breakpoint($bp-med) {
      @include span-columns(8,12);
      padding: 0;
    }
    .section-title {
      margin: 0 0 40px;
    }
    .image {
      img {
        @extend %full-width-image;
      }
    }
  }
  .group-right {
     @include full-width;
     //background: pink;
     padding: 0 35px;
     @include at-breakpoint($bp-med) {
       @include span-columns(4 omega,12);
       padding: 70px 0 0;
     }
   }
}


