//
// Link styles
// =============================================================================

a {
  color: $link-color;
  //text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $link-color-hover;
    text-decoration: underline;

    &.icon {
      text-decoration: none;
    }
  }
  &:focus {
    outline: none;
  }
  :visited {
    color: $link-color-hover;
  }

  &.call-to-action {
    background: transparent;
    background-repeat: no-repeat;
    background-size: 48px 48px;
    background-position: 0 0;
    border: 1px solid $black;
    color: $black;
    display: inline-block;
    font-size: 15px;
    line-height: 48px;
    font-weight: 300;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    max-width: 320px;
    position: relative;
    padding: 0 10px 0 70px;
    text-decoration: none;
   
    &:hover {
      background-color: $crimson;
      border: 1px solid $crimson;
      color: $white;
    }
    &:active,
    &:focus {
      background-color: $crimson-darker;
      border: 1px solid $crimson-darker;
      color: $white;
    }
    
    &.download-pdf {
      background-image: url('../images/pdf@2x.png');
      &:hover,
      &:active,
      &:focus {
        background-image: url('../images/pdf-white@2x.png');
      }
    }
    &.fill-form {
      background-image: url('../images/pen@2x.png');
      &:hover,
      &:active,
      &:focus {
        background-image: url('../images/pen-white@2x.png');
      }
    }
    &.external-link {
      background-image: url('../images/arrow@2x.png');
      &:hover,
      &:active,
      &:focus {
        background-image: url('../images/arrow-white@2x.png');
      }
    }
  }
}

.more-link {
  clear: both;
  text-align: center;
  padding: 20px 0 0;
  a {
    color: $white;
    &:hover,
    &:active,
    &:focus {
      color: $gray;
      text-decoration: none;
    }  
  }
}

// Links within paragraphs
p a {
  color: $link-color;
}

// current / active link
.current,
.active {
  & > a {
    text-decoration: underline;
  }
}

// links in headlines
h1, h2, h3, h4, h5, h6 {
  a {
    //@extend %element-inline-block; es aizkomenteju
    color: inherit;
    //word-break: break-all;
    &:hover,
    &:active,
    &:focus{
      color: $link-color-hover;
    }
  }
}
