.view-ref-customers.view-display-id-they_trust_us {
  .view-content {
    overflow: hidden;
    width: 100%;
    @include at-breakpoint($third) {
      display: inline-flex;
    }
  }
  // layout
  .views-row {
    //background: green;
    margin-bottom: 20px;
    @include span-columns(6,12);
    margin-right: 0;
    margin-left: 2%;
    &:first-child {
      margin-left: 0;
    }
    &:nth-child(3) {
      //margin-left: 0;
      clear: left;
    }
   
    @include at-breakpoint($second) {
      @include span-columns(3,12);
      //background: pink;
      margin-right: 0;
      margin-left: 2%;
      &:nth-child(3) {
        //margin-left: 2%;
        clear: none;
      }
    }
    @include at-breakpoint($third) {
      //background: red;
      @include span-columns(3,12);
      margin-right: 0;
      margin-left: 4%;
      &:nth-child(3) {
        margin-left: 4%;
        clear: none;
      }
    }
  }
  // styles
  .views-row {
    .views-field-field-image {
      .field-content {
        text-align: center;
      }
      img {
        float: left;
        width: 100%;
        height: auto;
        max-width: 220px;
        vertical-align: middle;
        display: inline-block;
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
      }
      &:hover {
        img {
          -webkit-filter: grayscale(0%); 
          filter: grayscale(0%);
        }
      }
    }
  }
}


//layout styles - ielikt atseviksa faila
#breadcrumb, 
.tabs,
footer .region-holder,
header .region-holder,
#leader .flexslider {
  @include container;
	margin: 0 auto;
	max-width: 1000px;
  padding-left: 0;
  padding-right: 0;
}

#content {
  margin-left: 0;
  margin-right: 0;
}