.view-partner {
  .view-content {
    overflow: hidden;
    width: 100%;
    @include at-breakpoint($third) {
      display: inline-flex;
    }
  }
  // layout
  .views-row {
    //background: green;
    margin-bottom: 20px;
    @include span-columns(8,16);
    margin-right: 0;
    margin-left: 2%;
    &:first-child {
      margin-left: 0;
    }
    &:nth-child(3) {
      //margin-left: 0;
      clear: left;
    }
   
    @include at-breakpoint($second) {
      @include span-columns(4,16);
      //background: pink;
      margin-right: 0;
      margin-left: 2%;
      &:nth-child(3) {
        //margin-left: 2%;
        clear: none;
      }
    }
    @include at-breakpoint($third) {
      //background: red;
      @include span-columns(4,16);
      margin-right: 0;
      margin-left: 4%;
      &:nth-child(3) {
        margin-left: 4%;
        clear: none;
      }
    }
  }
  // styles
  .views-row {
    .views-field-title,
    .views-field-field-partner-office-contactinfo {
      display: none;
    }
    
    .views-field-field-partner-logo {
      .field-content {
        text-align: center;
      }
      img {
        float: left;
        width: 100%;
        height: auto;
        max-width: 220px;
        vertical-align: middle;
        display: inline-block;
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
      }
      &:hover {
        img {
          -webkit-filter: grayscale(0%); 
          filter: grayscale(0%);
        }
      }
    }
  }
}


// section styles - ielikt atseviska faila
.node-section {
  .view-filters {
    display: none; //pagaidām izņemts, pēctam jāizņem pareizā veidā
  }
  
  .section-title {
    margin-bottom: 26px;
    padding-bottom: 12px;
    position: relative;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 40px;
      height: 1px;
      background: $crimson;
    }
    
    //.field-item {
//      font-size: 20px;
//      font-weight: 300;
//      text-transform: uppercase;
//    }
  }
  &.section_dark {
    .section-title {
      color: $white;
    }
  }
}


// news
.view-news {
  .item-list {
    ul {
      margin: 0;
      li {
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 11px 0 7px;
        
        @include at-breakpoint($first) {
         
          //margin-right: 0;
          display: inline-block;
          float: left;
          width: 32%;
          margin: 0 0 0 2%;
          border-left: 1px solid $gray-light;
          padding: 11px 0 7px 10px;
          &:first-child {
            border-left: 0 none;
            margin: 0;
            padding: 11px 0 7px 0;
          }
        }
        
        .views-field-title-field {
          color: $black;
          font-size: 15px;
          font-weight: 300;
          text-transform: uppercase;
          //margin: 10px 0 0 0;
          a {
            color: $black;
          }
        }
      }
    }
  }
}

// section layout styles - ielikt atseviksa faila
.section_dark {
   background: $gray-dark;
}

.section_light {
  background: transparent;
}

.node-section {
  width: 100%;
}

#breadcrumb, 
.tabs,
footer .region-holder,
.node-section .region-holder {
  @include container;
	margin: 0 auto;
	max-width: 1000px;
  padding-left: 0;
  padding-right: 0;
}

#content {
  margin-left: 0;
  margin-right: 0;
}