//layout styles
#breadcrumb, 
.tabs,
footer .region-holder,
header .region-holder,
#leader .flexslider,
.page-user #content .region-holder,
.page-node .region-holder {
  @include container;
	margin: 0 auto;
	max-width: 1000px;
  padding-left: 0;
  padding-right: 0;
}

.page-user #content {
  margin-top: 250px;
}

#content {
  margin-left: 0;
  margin-right: 0;
}

.page-node #content {
  margin-top: 120px;
}

