//-----------------------------------------
// Promo slideshow
//-----------------------------------------

// mobile
#leader {
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  .top-bg-image {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    &:before {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: $white;
      opacity: 0.6;
    }
  }
  .flexslider {
    background: none;
    border: 0 none;
    margin-top: 0;
    padding: 68px 35px 80px;
    .flex-direction-nav,
    .flex-control-nav {
      display: none;
    }
  
    .slides img {
      display: none;
    }
    
    .slides > li {
      h2 {
        color: $black;
        @include font-size(35,40);
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 24px;
      }
    }
  }
}

// tablet
#leader {
  @include at-breakpoint($bp-med-2) {
    .top-bg-image {
      &:before {
      }
    }
    .flexslider {
      padding: 60px 35px 80px;
      
      .slides > li {
        h2 {
          @include font-size(40,48);
          width: 60%;
        }
      }
    }
  }
}

//desktop
#leader {
  @include at-breakpoint($bp-xl) {
    .top-bg-image {
      height: 490px;
    }
  
    .flexslider {
      padding: 136px 0 159px;
    
      .slides > li {
        h2 {
          @include font-size(51,67);
          margin-bottom: 24px;
          width: 50%;
        }
      }
    }
  }
}





