//-----------------------------------------
// Sections
//-----------------------------------------

.node-section {
  position: relative;
  min-height: 200px;
  padding: 20px 0;
  width: 100%;
  
  .region-holder {
    @include container;
    margin: 0 auto;
    max-width: 1000px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
  
  &.section_light {
    background: transparent;
  }
  &.section_dark {
     background: $gray-dark;
  }
}

// section title
.section-title {
  margin-bottom: 26px;
  padding-bottom: 12px;
  position: relative;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 40px;
    height: 1px;
    background: $crimson;
  }
  .section_dark & {
    color: $white;
  }
}

// banner styles
.group-banner {
  position: absolute;
  margin-top: -90px;
  width: 500px;
  height: 150px;
  border: 1px dotted #000;
  z-index: 2;
  right: 0;
  padding: 20px;
  
  .banner-style-red & {
    background-color: $crimson;
    color: $white;
  }
  .banner-style-dark & {
    background-color: $gray-dark;
    color: $white;
  }
  .banner-style-light & {
    background-color: $gray-lighter;
    color: $gray;
  }
}
