//-----------------------------------------
// Sections
//-----------------------------------------

.node-section {
  position: relative;
  min-height: 200px;
  padding: 0 35px;
  width: 100%;
  
  @include at-breakpoint($bp-med-2) {
    //padding: 0;
  }
  
  @include at-breakpoint($bp-xl) {
    padding: 0;
  }
  
  .region-holder {
    @include container;
    margin: 0 auto;
    max-width: 1000px;
    padding: 28px 0 130px;
    position: relative;
  }

  &.section_light {
    background: transparent;
    border-bottom: 1px solid $gray-light;
  }
  &.section_dark {
     background: $gray-dark;
     color: $white;
  }

  //section with sidebar
  &.with-sidebar {
    .body,
    .field-view {
      width: 100%;
      //padding: 0 10px;
      margin-bottom: 40px;
      padding: 0;
      @include at-breakpoint($bp-med-2) {
        @include span-columns(8,12);
        //padding: 0;
        margin-bottom: 0;
      }
    }
    .group-sidebar {
      width: 100%;
      padding: 0;
      @include at-breakpoint($bp-med-2) {
        @include span-columns(4 omega,12);
      }
    }
  }

  .group-social {
    @include span-columns(12);
    padding-top: 20px;
  }

}

// Remove border bottom from last section
.node-page {
  .field-items {
    .field-item {
      &:last-child {
        .node-section.section_light {
          border-bottom: 0 none;
        }
      }
    }
  }
}


.with-sidebar.sidebar-position-right {
  .body,
  .field-view {
    width: 100%;
    @include at-breakpoint($bp-med-2) {
      @include span-columns(8 omega,12);
      float: right;
    }
  }
  .group-sidebar {
    width: 100%;
    @include at-breakpoint($bp-med-2) {
      @include span-columns(4,12);
      float: left;
    }
  }
}

// social icons block
.group-social {
  @include full-width;
  margin: 0;
}

// section title, banner title
.group-banner h2,
.section-title {
  margin: 0 0 33px;
  padding-bottom: 0;
  position: relative;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  clear: both;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 40px;
    height: 1px;
    background: $crimson;
  }
  .section_dark & {
    color: $white;
  }
}
.banner-style-red {
  .group-banner h2 {
    &:before {
      background: $white;
    }
  }
}


.group-banner h2 {
  @include at-breakpoint($bp-med-2) {
    @include font-size(28);
    margin-bottom: 38px;
    &:before {
      bottom: -10px;
      width: 80px;
    }
  }
}

.group-banner h3 {
  margin-top: 0;
  margin-bottom: 38px;
  padding-bottom: 0;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 80px;
    height: 1px;
    background: $white;
  } 
  @include at-breakpoint($bp-xl) {
    margin-top: -6px;
  } 
}

.group-banner {
  p {
    @include font-size(14,16);
    margin: 0;
    position: relative;
    &:first-child {
      margin-top: 5px;
      @include at-breakpoint($bp-med-2) {
        margin-top: 0;
      }
      @include at-breakpoint($bp-xl) {
        margin-top: -3px;
        margin-bottom: 2px;
      }
    }
  }
  h2 + p {
    @include at-breakpoint($bp-med-2) {
      margin-top: -3px;
    }
  }
  .external-link {
    &:hover {
      color: $crimson;
    }
  }
}

.banner-style-red {
  .group-banner {
    .external-link {
      &:hover {
        color: $white;
      }
    }
  }
}

//-----------------------------------------
// Banners
//-----------------------------------------

// mobile
.group-banner {
  position: relative;
  width: 100%;
  min-height: 170px;
  z-index: 2;
  margin: -80px 0 12px;
  padding: 5px 10px;
  overflow: hidden;
  
  .banner-style-red & {
    background-color: $crimson;
    color: $white;
  }
  .banner-style-dark & {
    background-color: $gray-dark;
    color: $white;
  }
  .banner-style-light & {
    background-color: $gray-lighter;
    color: $gray;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    
    img {
      float: left;
      width: 100%;
    }
  }

  .banner-link {
    a {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      text-indent: -10000px;
    }
  }
}

// tablet
.group-banner {
  @include at-breakpoint($bp-med-2) {
    float: right;
    width: 461px;
    min-height: 196px;
    height: auto;
    padding: 10px 15px;
    margin: -144px 0 12px;
  }
}

// desktop
.group-banner {
  @include at-breakpoint($bp-xl) {
    width: 690px;
    //height: 190px;
    min-height: 175px;
    margin: -188px -30px 12px 0;
    padding: 27px 30px 24px;
  }
}


// Styles in banners
p {
  &.italic {
    font-family: Georgia, serif;
    font-style: italic;
    @include font-size(18,24);
    margin-bottom: 5px;
    @include at-breakpoint($bp-med-2) {
      @include font-size(22,28);
      margin-bottom: 5px;
    }
    @include at-breakpoint($bp-xl) {
      margin-bottom: -3px;
    }
  }
}
