//-----------------------------------------
// Sections
//-----------------------------------------

.node-section {
  position: relative;
  min-height: 200px;
  padding: 0;
  width: 100%;
  
  .region-holder {
    @include container;
    margin: 0 auto;
    max-width: 1000px;
    padding: 28px 0;
    position: relative;
  }
  
  &.section_light {
    background: transparent;
  }
  &.section_dark {
     background: $gray-dark;
     color: $white;
  }
  
  //section with sidebar
  &.with-sidebar {
    .body {
      @include span-columns(8,12);
    }
    .group-sidebar {
      @include span-columns(4 omega,12);
    }
  }
}

// section title
.section-title {
  margin-bottom: 33px;
  padding-bottom: 0;
  position: relative;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 40px;
    height: 1px;
    background: $crimson;
  }
  .section_dark & {
    color: $white;
  }
}

// banner styles
.group-banner {
  position: absolute;
  width: 690px;
  height: 182px;
  z-index: 2;
  right: -30px;
  top: -116px;
  padding: 20px;
  
  .banner-style-red & {
    background-color: $crimson;
    color: $white;
  }
  .banner-style-dark & {
    background-color: $gray-dark;
    color: $white;
  }
  .banner-style-light & {
    background-color: $gray-lighter;
    color: $gray;
  }
}
